ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: darkorange;
}

ul li{
    display: block;
    position: relative;
    float: left;
    background-color:darkorange;
}

li ul{
    display: none;
}

ul li a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 1em;
    white-space: nowrap;
}

ul li a:hover{
    background-color: dimgrey;
}

li:hover > ul{
    display: block;
    position: absolute;
}

li:hover li{
    float: none;
}

li:hover a{
    background-color: darkred;
}

li li:hover a{
    background-color: crimson;
}

.topnav li ul li{
    border-top: 0;
}

ul ul ul{
    left: 100%;
    top: 0;
}

ul:before, ul:after{
    content: "";
    display: table;

}

ul:after{
    clear: both;
}