body{
    background-image:linear-gradient(120deg, pink 30% ,purple 80%);
    
}
.box{ 
    margin-top: 60px;
    margin-left: 450px;
    border: none;
    padding-bottom: 70px;
    width: 500px;
    height: 450px;
    background-color: azure;
    position: absolute;
    text-align:center;
    box-shadow: 10px 5px 5px plum;
    color: purple;

}


button{  
    background-color:blueviolet;
}

input[type="text"], input[type="numbers"], input[type="date"]{
    border:none;
    border-bottom: 1px solid black;
    background: transparent;
    outline:none;
    color:rgb(172, 46, 140);
    
}

/* .boxxx{
    border-style: solid;
    border-width: 10px;
    border-color: red;
    border-radius: 20px; 
  




} */