 #lorem{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2px;
    row-gap: 2px;
    justify-content: flex-start;
    align-content: space-around;
}

.word{
    background-color: chocolate;
    border: 2px solid;
}



#item3{
    grid-row: 1/span 2;
}


#number{
    display: grid;
    gap: 10px;
    background-color: crimson;
    padding: 10px;
    color:white;
    
}

.w{

    background-color: black;
    text-align: center;
    padding: 20px;
    font-size: 20px;
} 

#no1{ 
    grid-column: 1 / span 2;
    grid-row: 1;
}

#no2{ 
    grid-column: 3;
    grid-row: 1 / span 2;
}

#no5{
    grid-column: 1 / span 3;
    grid-row: 3;
}

