@media(max-width: 480px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    } 

    body > div {
        width: 95%;
        height: 100px;
        margin: 1%;
        background-color: darkorchid;
        color: white;
    
    }
}

